---
title: Your audience wants to be wowed. We want to help you deliver.
lead: Reach more people than ever before by giving them an amazing native language experience
cta: Show me how
heading: Let your audience sit back, enjoy, and share. You can focus on creating, delivering, and improving your content.
description:
heading1: Real time subtitles
description1: Your audience can see real time subtitles in their native language.
heading2: Instant feedback
description2: You can get instant feedback from your audience and make adjustments live or review it afterwards.
heading3: Increased engagement
description3: Your audience can engage with your content before, during, and after your presentation and share it widely.
cta2: What's the catch?
---
  <!-- First -->
      <section id="first" class="main">
        <header>
          <div class="container">
            <h2>{{heading}}</h2>
            <p>Whether they are looking for insight, inspiration, or encouragement, your audience comes to be fed. They may sit tight, but how do you know if you are really reaching them? What are their unanswered questions? What if they missed your main point? Where can you get honest and constructive feedback? What if your audience is multilingual? The <strong>synchronous presentation framework (SPF)</strong> makes it easy to deal with these challenges.</p>
          </div>
        </header>
        <div class="content dark style1 featured">
          <div class="container">
            <div class="row">
              <div class="4u">
                <section>
                  <span class="feature-icon"><span class="icon fa-clock-o"></span></span>
                  <header>
                    <h3>{{heading1}}</h3>
                  </header>
                  <p>{{description1}}</p>
                </section>
              </div>
              <div class="4u">
                <section>
                  <span class="feature-icon"><span class="icon fa-bolt"></span></span>
                  <header>
                    <h3>{{heading2}}</h3>
                  </header>
                  <p>{{description2}}</p>
                </section>
              </div>
              <div class="4u">
                <section>
                  <span class="feature-icon"><span class="icon fa-cloud"></span></span>
                  <header>
                    <h3>{{heading3}}</h3>
                  </header>
                  <p>{{description3}}</p>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="12u">
                <footer>
                  <a href="#second" class="button scrolly">How it works</a>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </section>

        <!-- Second -->
      <section id="second" class="main">
        <header>
          <div class="container">
            <h2>The trick that makes this all work</h2>
            <p>Big companies like Google and Microsoft are throwing lots of money and PhDs at the problem of fully automatic speech translation. The quality of their results is good enough for a lot of settings, but not for delivering a quality presentation. We focus on helping you craft a great experience so <strong>people will want to know</strong> what you have to say. All you need to do is <em>prepare</em>.</p>
          </div>
        </header>
        <div class="content dark style2">
          <div class="container">
            <div class="row">
              <div class="4u">
                <section>
                  <h3>How it works</h3>
                  <p>Doing anything well requires preparation and this is especially true when serving a mutlilingual audience.</p><p>This is why we designed SPF.IO to be straightforward to use. You craft your message. Someone translates it. You deliver your message, with subtitles and slides appearing on a screen in sync with your speech. Your audience follows in their native language on their mobile devices. They can also take notes or give you feedback. Afterwards, you can review what they said and address it.</p>
                  <p>Humans are needed to craft the message, translate it, and show subtitles at the right time. SPF has automatic tools to assist with each step, but it cannot replace people yet.</p>
                  <p>This simple process has been used on a weekly basis at a bilingual church for over a year. It enables the congregation to stay together instead of being segregated by language. You can increase the reach of your message by using SPF.IO too.</p>
                  <footer>
                  <a href="#fourth" class="button scrolly">This sounds great,<br/>I'd like to try it.</a>
                  </footer>
                </section>
              </div>
              <div class="8u">
                <div class="row no-collapse">
                  <div class="6u"><h3 class="step-header">Your team will:</h3></div>
                  <div class="6u"><h3 class="step-header">Your audience will:</h3></div>
                </div>
                <div class="row no-collapse">
                  <div class="6u">
                    <span class="step-info image fit" style="background-image: url(images/pic01.jpg)">
                      <span class="icon fa-pencil step-icon"></span><br/>
                      <label>Create</label>
                    </span>
                  </div>
                  <div class="6u">
                    <span class="step-info image fit" style="background-image: url(images/pic02.jpg)">
                      <span class="icon fa-wifi step-icon"></span><br/>
                      <label>Connect</label>
                    </span>
                  </div>
                </div>
                <div class="row no-collapse">
                  <div class="6u">
                    <span class="step-info image fit" style="background-image: url(images/pic03.jpg)">
                      <span class="icon fa-sitemap step-icon"></span><br/>
                      <label>Translate</label>
                    </span>
                  </div>
                  <div class="6u">
                    <span class="step-info image fit" style="background-image: url(images/pic04.jpg)">
                      <span class="icon fa-coffee step-icon"></span><br/>
                      <label>Enjoy</label>
                    </span>
                  </div>
                </div>
                <div class="row no-collapse">
                  <div class="6u">
                    <span class="step-info image fit" style="background-image: url(images/pic05.jpg)">
                      <span class="icon fa-rocket step-icon"></span><br/>
                      <label>Deliver</label>
                    </span>
                  </div>
                  <div class="6u">
                    <span class="step-info image fit" style="background-image: url(images/pic06.jpg)">
                      <span class="icon fa-heart step-icon"></span><br/>
                      <label>Engage</label>
                    </span>
                  </div>
                </div>
                <div class="row no-collapse">
                  <div class="12u">
                    After your presentation, the subtitles and slides from the entire experience are available online. You can study feedback from your audience. They can read their notes, review your content and share it with the world.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Third -->
      <section id="third" class="main">
        <header>
          <div class="container">
            <h2>Help a good cause at the same time</h2>
            <p>Advance worldwide literacy and intercultural understanding every time you use SPF.</p>          </div>
        </header>
        <div class="content dark style3">
          <div class="container">
            <span class="image featured"><img src="images/suzzallo_library_large.jpg" alt="" /></span>
            <div class="row">
              <div class="4u">
                <h3>Give the gift of literacy and intercultural understanding</h3>
                <p>We're passionate about worldwide literacy and giving a voice to people who speak minority languages. What's the point of enabling awesome presentations if most people in the world can't enjoy it? What's the point if we only help people who are already resource rich and fail to give a voice to those who can only express themselves in their native language?</p>
                <p>SPF is designed to do both of these things. We make it easy for you to get your content into many langauges and share it widely. We also make it possible for people from other languages to create and share their content in many languages. Here is how it works.</p>
              </div>
              <div class="4u">
                <p>When you use SPF and submit translated content, this information is collected and used to improve a machine translation system. The more data the system has, the better it performs so that translations become easier and cheaper to produce the more content you add.</p>
                <p>Secondly, when you financially support SPF by giving or paying for plan, a portion of the funds is set aside to subsidize the cost of the platform for people all around the world. As they create more content, they also improve the machine translation system for their languages.</p>
              </div>
              <div class="4u">
                <p>At the heart of all of this is of course great content. It doesn't matter what language is used, when there is great content, people want it--language is just one thing that prevents them from enjoying it.</p>
                <p>We believe that by making it easy to produce, share, and enjoy multilingual content from in-person experiences, we will give a voice to those who have none, advance worldwide literacy, and help people simply get to know each other and understand each other from their unique cultural experiences.</p>
                <footer>
                <a href="#fourth" class="button scrolly">This is awesome!<br/>Where do I sign up?</a>                </footer>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Fourth -->
      <section id="fourth" class="main">
        <header>
          <div class="container">
            <h2>Ask a question or <strong>sign up</strong> for the private beta</h2>
            <p>We are already helping churches reach more people through great multilingual experiences. If you would like to try the SPF beta and see how it can help you, or if you have any other questions, contact us below. Don't worry, we won't use your e-mail address for any other purpose.</p>
          </div>
        </header>
        <div class="content style4 featured">
          <div class="container small">
            <form method="post" class="contact-form" data-action-path="http://forms.brace.io/chrislim@theotech.org">
              <div class="row half">
                <div class="6u"><input type="text" name="name" placeholder="Name" /></div>
                <div class="6u"><input type="email" name="email" placeholder="Email" /></div>
              </div>
              <div class="row half">
                <div class="12u"><textarea name="message" placeholder="Message"></textarea></div>
              </div>
              <div class="row">
                <div class="12u">
                  <ul class="actions">
                    <li><input type="submit" class="button" value="Send Message" /></li>
                    <li><input type="reset" class="button alt" value="Clear Form" /></li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
