<!DOCTYPE HTML>
<!--
	Adapted from Tessellate by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
	<head>
    <title>{{title}}</title>
		<meta charset="UTF-8" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="The synchronous presentation framework enables you to create amazing multilingual experiences" />
		<meta name="keywords" content="multilingual presentation language translation" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body>
    {{> body}}
		<!-- Header -->
			<section id="header" class="dark">
				<header>
          <h1>{{title}}</h1>
          <p>{{lead}}</p>
				</header>
				<footer>
          <a href="#first" class="button scrolly">{{cta}}</a>
				</footer>
			</section>

		<!-- First -->
			<section id="first" class="main">
				<header>
					<div class="container">
            <h2>{{heading}}</h2>
            <p>{{description}}</p>
					</div>
				</header>
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="4u">
								<section>
									<span class="feature-icon"><span class="icon fa-clock-o"></span></span>
									<header>
                    <h3>{{heading1}}</h3>
									</header>
                  <p>{{description1}}</p>
								</section>
							</div>
							<div class="4u">
								<section>
									<span class="feature-icon"><span class="icon fa-bolt"></span></span>
									<header>
                    <h3>{{heading2}}</h3>
									</header>
                  <p>{{description2}}</p>
								</section>
							</div>
							<div class="4u">
								<section>
									<span class="feature-icon"><span class="icon fa-cloud"></span></span>
									<header>
                    <h3>{{heading3}}</h3>
									</header>
                  <p>{{description3}}</p>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<footer>
									<a href="#second" class="button scrolly">How it works</a>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Second -->
			<section id="second" class="main">
				<header>
					<div class="container">
						<h2>The simple trick that makes this all work.</h2>
						<p>Big companies like Google and Microsoft are throwing lots of money and PhDs at the problem of fully automatic spoken translation. The quality of their results is good enough for alot of settings, but not for your amazing presentation. We focus on helping you craft a great experience so people will want to know what you have to say. All you need to do is prepare.</p>
					</div>
				</header>
				<div class="content dark style2">
					<div class="container">
						<div class="row">
							<div class="4u">
								<section>
									<h3>Three steps to get started</h3>
									<p>Your audience wants to be wowed. They want to be able to come, listen and engage with you. Some people take notes, but never get the chance to share them. Some people have questions that go unanswered. And sometimes you want constructive feedback on how to improve your message, but can't seem to get an honest answer. These challenges are multiplied when you present to a multilingual audience.</p>
									<p>It turns out that enhancing the multilingual experience with minimal effort also helps in every other aspect of communication. We designed SPF.IO to be straightforward to use. It requires some preparation to use effectively, but when you've done so, you give your audience a quality presentation and get the feedback that'll help you improve every time. Think of it like a flywheel. It takes work initially to get it spinning, but once it has enough momentum a little bit of effort can make a huge impact. SPF can help accelerate your message to multilingual audiences while increasing your effectiveness at the same time.</p>
									<footer>
										<a href="#third" class="button scrolly">How does SPF improve my presentations?</a>
									</footer>
								</section>
							</div>
							<div class="8u">
                <div class="row no-collapse">
                  <div class="6u"><header><h3>Your team will:</h3></header></div>
                  <div class="6u"><header><h3>Your audience will:</h3></header></div>
                </div>
								<div class="row no-collapse">
									<div class="6u"><a href="#" class="image fit"><img src="images/pic01.jpg" alt="" />1. Create</a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic02.jpg" alt="" />1. Connect</a></div>
								</div>
								<div class="row no-collapse">
									<div class="6u"><a href="#" class="image fit"><img src="images/pic03.jpg" alt="" />2. Translate</a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" />2. Enjoy</a></div>
								</div>
								<div class="row no-collapse">
									<div class="6u"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" />3. Deliver</a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" />3. Engage</a></div>
								</div>
                <div class="row no-collapse">
                  <div class="12u">
                    4. The entire experience is available after the event for notes, review, and sharing.
                  </div>
                </div>
							</div>
						</div>
					</div>
				</div>
			</section>

      <!-- Third -->
			<section id="third" class="main">
				<header>
					<div class="container">
            <h2>Help a good cause</h2>
            <p>Advance worldwide literacy and intercultural understanding every time you use SPF.</p>
					</div>
				</header>
				<div class="content dark style3">
					<div class="container">
						<span class="image featured"><img src="images/pic07.jpg" alt="" /></span>
						<div class="row">
							<div class="4u">
								<h3>Give the gift of literacy and intercultural understanding</h3>
                <p>We're passionate about worldwide literacy and giving a voice to people who speak minority languages. What's the point of enabling awesome presentations if most people in the world can't enjoy it? What's the point if we only help people who are already resource rich and fail to give a voice to those who can only express themselves in their native language?</p>
								<p>SPF is designed to do both of these things. We make it easy for you to get your content into many langauges and share it widely. We also make it possible for people from other languages to create and share their content in many languages. Here is how it works.</p>
							</div>
							<div class="4u">
                <p>When you use SPF and submit translated content, this information is collected and used to improve a machine translation system. The more data the system has, the better it performs so that translations become easier and cheaper to produce the more content you add.</p>
								<p>Secondly, when you financially support SPF by giving or paying for plan, a portion of the funds is set aside to subsidize the cost of sharing and using the platform for people all around the world. As they create more content, they also improve the machine translation system for their languages.</p>
							</div>
							<div class="4u">
								<p>At the heart of all of this is of course great content. It doesn't matter what language is used, when there is great content, people want it--language is just one thing that prevents them from enjoying it.</p>
								<p>We believe that by making it easy to produce, share and enjoy multilingual content from in-person experiences, we will give a voice to those who have none, advance worldwide literacy and help people simply get to know each other and understand each other from their unique cultural experiences.</p>
								<footer>
									<a href="#fourth" class="button scrolly">This is awesome! Where do I sign up?</a>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- Basic Elements -->
			<section class="main">
				<header>
					<div class="container">
						<h2>A Whole Lotta Elements</h2>
						<p>General purpose elements for every general purpose. Or something like that.</p>
					</div>
				</header>
				<div class="content style1 dark">
					<div class="container">
						<section>
							<header>
								<h3>Paragraph</h3>
								<p>This is a byline</p>
							</header>
							<p>Phasellus nisl nisl, varius id <sup>porttitor sed pellentesque</sup> ac orci. Pellentesque
							habitant <strong>strong</strong> tristique <b>bold</b> et netus <i>italic</i> malesuada <em>emphasized</em> ac turpis egestas. Morbi
							leo suscipit ut. Praesent <sub>id turpis vitae</sub> turpis pretium ultricies. Vestibulum sit
							amet risus elit.</p>
						</section>
						<section>
							<header>
								<h3>Blockquote</h3>
							</header>
							<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
							tempus euismod. Vestibulum ante ipsum primis in faucibus. Cras sit amet urna eros, id egestas
							tempus ante ipsum primis in faucibus orci luctus et ultrices.</blockquote>
						</section>
						<section>
							<header>
								<h3>Divider</h3>
							</header>
							<p>Donec consectetur <a href="#">vestibulum dolor et pulvinar</a>. Etiam vel felis enim, at viverra
							ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
							facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
							tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
							posuere cubilia.</p>
							<hr />
							<p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
							ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
							facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
							tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
							posuere cubilia.</p>
						</section>
						<section>
							<header>
								<h3>Unordered List</h3>
							</header>
							<ul class="default">
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
							</ul>
						</section>
						<section>
							<header>
								<h3>Ordered List</h3>
							</header>
							<ol class="default">
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
							</ol>
						</section>
						<section>
							<header>
								<h3>Table</h3>
							</header>
							<div class="table-wrapper">
								<table class="default">
									<thead>
										<tr>
											<th>ID</th>
											<th>Name</th>
											<th>Description</th>
											<th>Price</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>00001</td>
											<td>Lorem ipsum dolor</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>29.99</td>
										</tr>
										<tr>
											<td>00002</td>
											<td>Sit amet nullam</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
										<tr>
											<td>00003</td>
											<td>Feugiat felis viverra</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>29.99</td>
										</tr>
										<tr>
											<td>00004</td>
											<td>Sagittis enim felis</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
										<tr>
											<td>00005</td>
											<td>Nullam sed vestibulum</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3"></td>
											<td>100.00</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</section>
						<section>
							<header>
								<h3>Form</h3>
							</header>
							<form method="post" action="#">
								<div class="row half">
									<div class="6u">
										<input type="text" name="name" id="name" value="" placeholder="John Doe" />
									</div>
									<div class="6u">
										<input type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld" />
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<div class="select" tabindex="-1">
											<select name="department" id="department">
												<option value="">Choose a department</option>
												<option value="1">Manufacturing</option>
												<option value="2">Administration</option>
												<option value="3">Support</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<input type="text" name="subject" id="subject" value="" placeholder="Enter your subject" />
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" id="message" placeholder="Enter your message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" class="button" value="Send Message" /></li>
											<li><input type="reset" class="button alt" value="Clear Form" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>
			</section>

		<!-- Fourth -->
			<section id="fourth" class="main">
				<header>
					<div class="container">
						<h2>Ask a question or sign up for the private beta</h2>
						<p>We are already helping churches reach more people through great multilingual experiences. If you would like to try the SPF beta and see how it can help you, or if you have any other questions, contact us below. Don't worry, we won't use your e-mail address for any other purpose.</p>
					</div>
				</header>
				<div class="content style4 featured">
					<div class="container small">
						<form method="post" action="#">
							<div class="row half">
								<div class="6u"><input type="text" placeholder="Name" /></div>
								<div class="6u"><input type="text" placeholder="Email" /></div>
							</div>
							<div class="row half">
								<div class="12u"><textarea name="message" placeholder="Message"></textarea></div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" class="button" value="Send Message" /></li>
										<li><input type="reset" class="button alt" value="Clear Form" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
        <!-- {{> social-icons}} -->
				<div class="copyright">
					<ul class="menu">
            <li>&copy; {{site.copyright}}. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</section>

	</body>
</html>
